@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MeganDemo:ital,wght@0,100..900;1,100..900&display=swap');


                


*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  
 
}

html{
  scroll-behavior:smooth;


}

::-webkit-scrollbar{
  width:10px;
  border-radius: 25px;
}

::-webkit-scrollbar-track{
  background: #eee6e6;
}

::-webkit-scrollbar-thumb{
  background: #201f1f;
}

.linked-in img{
  width:40px;
  border-radius:7px;
  margin-top: 35px;
  animation: move-top-down 2s ease;
}

#main{
  font-size: 72px;
  font-weight:bolder;
  font-family: Montserrat;



}


body{
  background:#fff;
  font-family: 'Montserrat';

  
}

.container{
  width:100%;
  position: relative;
 
}

nav{

  position:fixed;
  top:0;
  left:0;
  display: flex;
  justify-content: space-between;
  width:100%;
  height:100px;
  line-height: 90px;
  background: rgb(43, 42, 42);
  padding-inline:9vw;
  z-index:100;
  animation: move-top-down 2s ease;
 -webkit-animation: move-top-down 2s ease;
 align-items: center;
}

.nav-link:hover {
  background-color: #555;
  border-radius: 5px;
}

.nav-logo{

  animation: move-top-down 2s ease;

}

.nav-name{
  
  font-family: Megan Demo Font;
  font-weight:600;
  font-size: 36px;
  margin-top:10px;
  text-align: left;
    color: #f1f1f1;
    text-decoration: underline;
    animation: move-top-down 2s ease;
    text-decoration-thickness:2px;
    text-underline-offset: 10px;
    letter-spacing: 3px;
  




}
.nav-name1{
 
    display: flex;
    color: #ffffff;
    margin-top: -60px; /* Adjust to position correctly */
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 200;
 
  

}
.name-footer{

display: flex;
margin-left:82%;
margin-top: 8px;
text-decoration-thickness:6px;

}

#home{
zoom:80%;
height:170vh;
}

@keyframes move-top-down {
  0% {
      transform: translateY(-900%);
  }
  50% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(0);
  }
}

.nav-menu,.nav_menu_list{
  display: flex;
}

.nav-menu,.nav_list{
  list-style: none;
  position: relative;
  animation: move-top-down 2s ease;
}

.nav-link{
  text-decoration: none;
  font-size: Monserrat;
  color:#fff;
  font-size: 15px;
  font-weight: 200;

  margin-right:90px;
 
}

.nav-menu-btn{
  display: none;
}

.nav-menu-btn i{
  font-size:28px;
}


.wrapper{
  height:350vh;
  width:none;
}

.Description{
  padding-top: 250px;
  padding-left: 100px;
  line-height: 30px ;
  position: relative;
  animation: move-top-down 3s ease;
}


@keyframes move-left-right {
  0% {
      transform: translateX(700%);
  }
  50% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(0);
  }
}

h4{
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.88px;

  

}

span{

  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  



 
}

#text{
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#Contact{
  font-weight: 700;
  font-family: Montserrat;
  height:60px;
  padding:3px;
  margin-top: 30px;
  width:170px;
  border:0px solid  #c1f995;
  border-radius: 25px;
  background-color: #c1f995 ;
  font-size: 17px;
  box-shadow: 0px 0px 10px #cff7b1;
  animation: move-left-right 3s ease;
  cursor:pointer;
}

#Contact:hover {
  background-color:#8eed40; /* Change background color on hover */
  box-shadow: 0px 0px 15px #9cff4b; /* Change box shadow on hover */
}
.btn-works:hover{
background-color: rgb(206, 82, 255);
box-shadow: 0px 0px 15px #893bff; /* Change box shadow on hover */


}

#adobe-xd{
  width:120px;
  position: relative;
  left:-120px;
  padding-right:40px;
  display: list-item;
  padding-top: 40px;
  border-radius:2px;
  transform:rotate(-20deg);
  margin-top: 2px;
  animation: move-left-right-rotated 3s ease;
}

#figma{
  width:160px;
  position: relative;
  left:-130px;
  padding-right:40px;
  display: list-item;
  padding-top: 1px;
  border-radius:2px;
  transform:rotate(-20deg);
  margin-top: 45px;
  animation: move-left-right-rotated 3s ease;
}

#name{


width: 320px;
height: 146px;
margin-left: 960px;
margin-top: -265px;
font-family: 'Megan Demo Font';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 200px;
text-decoration: underline;
text-decoration-thickness: 2px;
text-underline-offset: 16px;
/* identical to box height */
color: #FFFFFF;
}
.name-footer{
text-decoration: none;
margin-top:-5px;
}

#adobe-in{
  width:125px;
  position: relative;
  left:-120px;
  padding-right:40px;
  display: list-item;
  padding-top: 10px;
  border-radius:2px;
  transform:rotate(10deg);
  margin-top:45px;
  animation: move-left-right-rotated 3s ease;
}

.main-page-picture{
  position: relative;
  left:65%;
  top:-450px;
  width:0px;
  animation: move-top-down 3s ease;
}
#box-main {

  position: relative;
  background-size: cover; /* Ensure the image covers the entire container */
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
  border-radius: 60px;
  width: 380px;
  height: 500px;
  background-color: #ffffff;
  top: -54em;
  left: 69%;
  box-shadow: 0px 0px 10px rgb(17, 18, 17);
  overflow: hidden;
  animation: move-left-right 3s ease; /* Animation effect */
}


.typed-cursor{
display: none;
}




#About{
  background-image: url('/images/ABOUT\ 2.png');
  background-size:100%;
  background-repeat:repeat-x;
  height:75em;
  margin-top: -300px;
  animation: move-left-right 4s ease;
  zoom:70%;
  
}
.animated-move-top-down {
  animation: move-top-down 2s ease;
}



/* Initial state: hidden and slightly down */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

/* Fade-in effect when in view */
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.box-works-container {
  display: column; /* Add Flexbox display */
  justify-content: space-around; /* Distribute items evenly */
  text-align: center;
  padding:2px;
  margin: 20px; /* Add margin for spacing between boxes */
  margin-left:150px;
  zoom:75%;
  
}
#Work{
margin-top: 120px;
}

.box-works {
  /* Your box styles */
  border: 4px solid #a2e072;
  background-color: #a2e072;
  text-align: center;
  width: 90%;
  height: 200px;
  border-radius: 100px;
  margin: 20px; /* Add margin for spacing between boxes */
}

.btn-works{
  border:2px solid rgb(187, 131, 255);
  background-color: rgb(203, 105, 241);
  border-radius: 100px;
  width: 235.79px;
  height: 49.25px;
  font-family: Montserrat;
  font-weight: 600;
  margin-top: 20px;
  
  
}

#title{
  text-align: center;
  margin-top: -70px;
  font-family: Montserrat;
  font-size:60px;
  text-decoration: underline;
  font-weight: 700;
  color:rgb(18, 17, 17);
  line-height: 78px;
  text-decoration-thickness: 3px;
  text-underline-offset:15px;


}
p{
font-weight:600;

}


#btn-1{
  margin-top: -3px;
}

#btn-2{
  margin-top: -3px;
}

#btn-3{
  margin-top: 15px;
}

h4{
  margin-top:20px;
  font-size: 40px;
}

h1{
  color:#fff;
}



#information{
  padding: 70px;
  font-size: 20px;
  color: #fff;
  margin-top: 100px;
  margin-left: 0px;
  height:85vh;
  background-color: #454545;
  
}

#text-footer1{
 text-decoration: underline;

}
#gmail-logo{
  width: 43px;
  height: 43px;
  margin-top: 70px;
  margin-left: 2px;
  border-radius: 9px;
  gap: 0px;
  opacity: 0px;
  text-decoration: none;
  cursor:pointer;
}
#call-logo{
  width: 43px;
  height: 43px;
  margin-top: 70px;
   margin-left: 0px;
  border-radius: 9px;
  background:#454545;
  cursor:pointer;
  
  
  
}
#call-logo hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

#call-logo:hover {

  color: #ffffff;
  box-shadow: 0 0 20px #ffffff;
  text-shadow: 0 0 5px #ffffff;
 
} 
#linkedin-logo{
  width: 43px;
  height: 43px;
  margin-top: 70px;
   margin-left: 2px;
  border-radius: 11px;
  gap: 0px;
  opacity: 0px;
  cursor:pointer;
  
}
#linkedin-logo hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

#linkedin-logo:hover {

  color: #ffffff;
  box-shadow: 0 0 20px #ffffff;
  text-shadow: 0 0 5px #ffffff;
 
 
} 

#gmail-logo {
  transition: transform 1s ease;
}
#gmail-logo hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

#gmail-logo:hover {

  color: #ffffff;
  box-shadow: 0 0 20px #ffffff;
  text-shadow: 0 0 5px #ffffff;
 
 
} 

#text-footer{
  position: absolute;
  text-decoration: none;
  
  }
#gmail-section{

width: 312px;
height: 24px;
margin-top: -35px;
margin-left: 90px;
opacity: 0px;
font-family: Montserrat;
font-size: 20px;
font-weight: 500;
line-height: 24.38px;
text-align: left;
cursor:pointer;



}
#call-section{
  width: 312px;
  height: 24px;
  margin-top: -35px;
  margin-left: 90px;
  gap: 0px;
  opacity: 0px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.38px;
  text-align: left;
  cursor:pointer;
  
}
#linkedin-section{
  width: 312px;
  height: 24px;
  margin-top: -35px;
  margin-left: 90px;
  gap: 0px;
  opacity: 0px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.38px;
  text-align: left;
  text-decoration:wavy;
  cursor:pointer;
  
}
#gray-vertical{

  position: absolute;
  height:10em;
  width:0.3%;
  margin-left:45em;
  margin-top:-250px;

}






